fish/fish_variables
gh/
matplotlib/
dconf/
autostart/
menus/
gnuplot/
wslu/
*.bak*
chromium/
kanshi/
libfm/
lxterminal/
pcmanfm/
pulse/
user-dirs.dirs
user-dirs.locale
wf-panel-pi.ini
xarchiver/
xsettingsd/
