fish/conf.d/
fish/fish_variables
uv/
MNE/
enchant/
gh/
matplotlib/
dconf/
autostart/
menus/
gnuplot/
wslu/
*.bak*
chromium/
kanshi/
libfm/
lxterminal/
pcmanfm/
pulse/
user-dirs.dirs
user-dirs.locale
wf-panel-pi.ini
xarchiver/
xsettingsd/
Mousepad/
geany/
